<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primer documento HTML</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
        <img class="pato" src="/img/patito.jpeg" alt="patito pequeño" />
      <h1>Nuestro primer proyecto organizado con MVC!</h1>
      <nav>
        <ul>
          <li>
            <a href="/productos/compra">Comprar producto</a>
          </li>
          <li>
            <a href="/productos/venta">Vender producto</a>
          </li>
          <li>
            <a href="/usuarios/conectarse">Iniciar sesión</a>
          </li>
          <li>
            <a href="/usuarios/registrarse">Crear cuenta</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/productos/1">Producto 1</a>
          </li>
          <li>
            <a href="/productos/2">Producto 2</a>
          </li>
          <li>
            <a href="/productos/3">Producto 3</a>
          </li>
          <li>
            <a href="/productos/4">Producto 4</a>
          </li>
          <li>
            <a href="/productos/5">Producto 5</a>
          </li>
          <li>
            <a href="/productos/6">Producto 6</a>
          </li>
          <li>
            <a href="/productos/7">Producto 7</a>
          </li>
        </ul>
      </nav>
    </header>

  </body>
</html>
